{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Contact</h1>
    </div>

    <div class="col-12">
        <img src="assets/img/contacto.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer }}